<div class="inputs">

    <div class="inmutables">
        <div>
            {% if user.image %}
            <img src="{{user.image.url}}"  class="user__profile">
            {% endif %}
            <span>
                Status: 
                {% if user.is_staff %}
                    <b>Staff Manager</b>
                {% else %}
                    <b> Asociado Manager </b>
                {% endif %}
            </span>
        </div>
        
        {% for key, input in inmutables.items %}
        <div class="group">    
            
            <h6> <b> {{ input.label | upper }}</b></h6>
            <p>{{ input.value | upper }}</p>
        </div>
        {% endfor %}
    </div>


    <div class="mutables">
        {% for key, input in mutables.items %}
            <div class="group">    
                <h6> <b> {{ input.label | upper }} </b></h6>
                <p>{{ input.value | upper }}</p>
            </div>
        {% endfor %}
    </div>

</div>