
<div class="terms_conditions">
        
    <div type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#termsModal">
        Términos y condiciones
    </div>
    
    <div class="modal fade" id="termsModal" tabindex="0" aria-labelledby="termsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="termsModalLabel">Mr. Manager términos y condiciones</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            <h6>
                <b>Formulario de Aceptación de Consentimiento</b>
            </h6>
            <b>
                Mr. Manager - Sistema de Gestión para Socios
            </b>    
            <p> Por favor, lea detenidamente la siguiente declaración antes de continuar con el registro en nuestro sistema. 
                Esta declaración describe cómo Mr. Manager recopilará, utilizará y protegerá su información personal.</p>
            <b>   Declaración de Consentimiento:</b>
            <ul>
                <li>Acepto que Mr. Manager recopile y almacene la información personal proporcionada en este formulario 
                    de registro, incluyendo, entre otros, mi nombre, apellido, DNI, CUIT, número de matrícula, dirección, 
                    fecha de nacimiento, fotos requeridas y otros datos relacionados con mi registro como socio.</li>
                <li>Acepto que Mr. Manager utilice mi información personal para los fines de gestionar mi membresía, 
                    facilitar la comunicación con la organización y proporcionar acceso a recursos técnicos.</li>
                <li>Acepto que Mr. Manager pueda enviar comunicaciones relacionadas con novedades, eventos y 
                    actividades de la organización.</li>
                <li>Acepto que mi información personal esté protegida por las medidas de seguridad implementadas 
                    por Mr. Manager para prevenir el acceso no autorizado y la divulgación de la información.</li>
            </ul>
            <b>Derechos del Usuario:</b>
            <p>Tengo derecho a acceder, corregir, actualizar o eliminar mi información personal en cualquier momento. 
                Puedo ejercer estos derechos poniéndome en contacto con Mr. Manager a través del mail 
                <a href="mailto:andru.ocatorres@gmail.com">Contacto a CEO de Mr. Manager</a>
            </p>

            </div>
            
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
        </div>
    </div>
</div>