@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

@import "./loader.style.css";

:root {
    --main-color:#6299A7;
    --text: #dbdbe0;
    --link: #dadae6;
    --link-hover: #e4e4ff;
    --bg-drk: hsl(240, 8%, 8%);
    --bg-header: rgba(26, 25, 28, 0.742);
    --bg-lt: hsl(240, 6%, 30%);
    --primary: rgb(66, 66, 73);
    --heading: #cdc9d1;
    --subheading: #b2b1bd;
    --h2: #b8b9c0;
    --h3: #c2c2ca;
    --green: #7bdae0;
    --cyan: rgb(74, 153, 226);
    --blue: #4546b4;
    --violet: rgb(87, 59, 211);
    --indigo: rgb(81, 54, 235);
    --purple: rgb(124, 63, 223);
    --pink: #df65e4;
    --lighting-color: #984ddd;
    --lighting-highlight-color: #c58eff;
    --lighting-size: 300px;
    --size: clamp(4rem, 5vh + 40px, 12rem);
    --gap: calc(var(--size) / 4);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
    --padding-hor: 2px;
    --federal-blue: #1f175cff;
    --tekhelet: #3f2678ff;
    --russian-violet: #481d61ff;
    --prussian-blue: #133a58ff;
    --eerie-black: #1a191cff;
    --prussian-blue: #113755ff;
    --denim: #1d5aafff;
    --federal-blue-lt: #322593;
    --tekhelet-lt: #5936ab;
    --russian-violet-lt: #752f9d;
    --prussian-blue-lt: #226faa;
    --denim-lt: #3e81e0;
    --eerie-black-lt: rgb(50, 49, 53);
    --federal-blue: hsla(247, 60%, 23%, 1);
    --tekhelet: hsla(258, 52%, 31%, 1);
    --russian-violet: hsla(278, 54%, 25%, 1);
    --prussian-blue: hsla(206, 64%, 21%, 1);
    --eerie-black: hsla(260, 6%, 10%, 1);
    --denim: hsla(215, 72%, 40%, 1);
}



html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100svh;
    display: flex;
    flex-direction: column;
}



body>main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    gap: 4rem;
}



main>div:first-child>img {
    width: clamp(10rem, 100vw, 50rem);
}

main>div:nth-child(2)>li {
    width: max-content;

}

main>div:nth-child(2)>button {
    padding: 1.2rem;
    min-width: 150px;
    width: 200px;
    max-width: 300px;
}

main>div:nth-child(2) {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4rem;

}




@keyframes shadowRolling {
    0% {
        box-shadow: var(--shadow), var(--shadow), var(--shadow), var(--shadow);
    }

    12% {
        box-shadow: 100px 0 var(--ballcolor), var(--shadow), var(--shadow),
            var(--shadow);
    }

    25% {
        box-shadow: 110px 0 var(--ballcolor), 100px 0 var(--ballcolor), var(--shadow),
            var(--shadow);
    }

    36% {
        box-shadow: 120px 0 var(--ballcolor), 110px 0 var(--ballcolor),
            100px 0 var(--ballcolor), var(--shadow);
    }

    50% {
        box-shadow: 130px 0 var(--ballcolor), 120px 0 var(--ballcolor),
            110px 0 var(--ballcolor), 100px 0 var(--ballcolor);
    }

    62% {
        box-shadow: 200px 0 var(--shadowcolor), 130px 0 var(--ballcolor),
            120px 0 var(--ballcolor), 110px 0 var(--ballcolor);
    }

    75% {
        box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
            130px 0 var(--ballcolor), 120px 0 var(--ballcolor);
    }

    87% {
        box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
            200px 0 var(--shadowcolor), 130px 0 var(--ballcolor);
    }

    100% {
        box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
            200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor);
    }
}

