<div class="uploads">

    <div class="files__section border__">

        {% if files %}
        <h4>Archivos cargados</h4>
        {% for file in files %}
        
        <details >
            <summary>{{ file.filename_with_extension}} </summary>
            <div>

                <p> Uploaded at: {{ file.uploaded_at }}</p>
                <a href="{{ file.file.url }}" download> Descargar el archivo</a>
                <button type="button" class="btn btn-primary delete-file" data-file-id="{{ file.id }}">
                    <a class="nav-link">Borrar</a>
                </button>
            </div>
        </details>
    {% endfor %}
    
    {% else %}
    <p>No files uploaded.</p>
    {% endif %}
    
    </div>
    <div class="changer__section border__" id="data__inject">
        
    </div>
    
</div>