.sector_beneficios{
    display: flex;
    height: 100%;

    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;
    width: 100%;
    padding: 0 2rem 0 2rem;
}



.beneficio_btn{
    padding: 1.2rem;
    min-width: 150px;
    width: 200px;
    max-width: 200px;
    flex-wrap: wrap;
    height: 4rem;
    flex: 1;
}


.beneficio_btn:not(:hover){
    background: none;
    border: 1px solid rgba(37,207,242,0.4);
}